.mail-container {
  margin: 1rem;
}
.email-box {
  display: flex;
  flex-direction: column;
  height: 75vh;
}
.email-item {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  border: none;
  border-bottom: 2px solid #b2b2b2;
}
.email-to {
  height: 5vh;
}
.email-subject {
  height: 5vh;
}
