.table{
    padding: 0.5rem;
    border: 1px solid black;
}

.parent {
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 2.5fr 0.26fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #EDEDED;
    border: 2px solid black;
    }
    
.row-item{
    border-bottom: 1px solid #B2B2B2; 
    padding: 0.8rem;
}
@media screen and (max-width: 375px) 
{
  .content
   {
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
   }
}